/* ==========================================================================
   Custom styles: Lisa Thier
   ========================================================================== */
h1 {
	width: 84px;
	height: 60px;
	margin: 10px 0 0 10px;
	padding: 0;
	text-indent: -99999px;
	background-size: 100% auto;
	background-image: url('../img/logo.png');
	background-repeat: no-repeat;
}
h1 a {
	width: 84px;
	height: 60px !important;
	padding: 0 !important;
	display: block;
	margin-left: 0 !important;
}
h2, h3, h4 { margin-top: 0; }
h2 { font-size: 36px; }
header {
	border: 0;
	background-image: none;
	background-color: rgba(255,255,255,0.5);
	-webkit-box-shadow: 0 0 6px 0 rgba(0,0,0,0.2);
	box-shadow: 		0 0 6px 0 rgba(0,0,0,0.2);
}

/* BASE */
.img-responsive { display: inline-block; }

/* BUTTON */
.btn-default {
	color: #fff;
	text-shadow: none;
	background-image: -webkit-linear-gradient(top,#975d80 0,#6d1b4c 100%);
	background-image: -o-linear-gradient(top,#975d80 0,#6d1b4c 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#975d80),to(#6d1b4c));
	background-image: linear-gradient(to bottom,#975d80 0,#6d1b4c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#975d80', endColorstr='#6d1b4c', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	background-repeat: repeat-x;
	border-color: #6d1b4c;
	-webkit-box-shadow: 0;
	box-shadow: 0;
}
.btn-default:hover,
.btn-default:focus { background-color: #6d1b4c }
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default { 
	color: #fff;
	background-color: #6d1b4c;
	border-color: #975d80;
}
section:nth-child(even) .btn-default {
	background-image: -webkit-linear-gradient(top,#596579 0,#152642 100%);
	background-image: -o-linear-gradient(top,#596579 0,#152642 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#596579),to(#152642));
	background-image: linear-gradient(to bottom,#596579 0,#152642 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#596579', endColorstr='#152642', GradientType=0);
	border-color: #152642;
}
section:nth-child(even) .btn-default:hover,
section:nth-child(even) .btn-default:focus { background-color: #152642 }
section:nth-child(even) .btn-default:hover,
section:nth-child(even) .btn-default:focus,
section:nth-child(even) .btn-default.focus,
section:nth-child(even) .btn-default:active,
section:nth-child(even) .btn-default.active,
section:nth-child(even) .open > .dropdown-toggle.btn-default { 
	background-color: #152642;
	border-color: #596579;
}

/* NAV */
.navbar-static-top { border-width: 0; }
.navbar { margin-bottom: 0; }
.navbar-nav { margin: 0 -15px; }
.nav li { font-size: 16px; }
.nav li > a {
	padding: 20px 10px;
	color: #000;
}
.nav > li.active > a { background-color: #eee; }
.navbar-toggle {
	padding: 15px;
	margin: 10px 15px 0 0;
}
.navbar-toggle .icon-bar { background-color: #000; }

/* SECTIONS */
section p {
	color: #414141;
	font-size: 18px;
}
section:nth-child(even) { background-color: #e6e6e6; }
section:nth-child(even) .col-md-6:first-child { text-align: center; }
section:nth-child(even) .col-md-6:last-child,
section:nth-child(odd) .col-md-6:first-child { margin-top: 60px; }
section:nth-child(even) h2 { color: #152642; }
section:nth-child(odd) h2 { color: #6d1b4c; }

/* JUMBOTRON */
.jumbotron {
	background-color: transparent;
	background-image: url('../img/concrete_wall_2.png');
}

/* CAROUSEL */
.item {
	width: 80%;
	margin-left: 10%;
}
.item .col-md-6 { margin-top: 0 !important; }
.carousel-control {
	width: 5%;
	font-size: 24px;
}
.carousel-control.left,
.carousel-control.right {
	background-image: none;
}
.carousel-control .glyphicon { color: #152642; }

/* 3-SPALTEN */
.three-columns .col-md-4 { text-align: center; }
.three-columns .col-md-4 img { margin-bottom: 30px; }
.three-columns .col-md-4 p { text-align: left; }

/* FOOTER */
footer { color: #fff; }
footer section { padding: 20px 0; }
footer section:nth-child(odd) {
	font-size: 14px;
	border-top: 1px solid #152642;
	background-color: rgba(21,38,66,0.7);
}
footer section:nth-child(even) {
	background-color: rgba(109,27,76,0.7);
	-webkit-box-shadow: 0 0 8px 2px rgba(151,93,128,0.8);
	box-shadow: 		0 0 8px 2px rgba(151,93,128,0.8);
}
footer section:nth-child(even) p {
	color: #fff;
	margin: 0;
	font-size: 12px;
}

/* MEDIA QUERIES */
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	h1 {
		width: 126px;
		height: 90px;
		margin: 10px 0 0 0;
	}
	h1 a {
		width: 126px;
		height: 90px !important;
	}
	.nav li {
		font-size: 24px;
		border-top: 4px solid #fff;
		-webkit-transition: color,border-top 0.3s ease-out;
		-moz-transition: color,border-top 0.3s ease-out;
		-o-transition: color,border-top 0.3s ease-out;
		transition: color,border-top 0.3s ease-out;
	}
	.nav li:hover,
	.nav li.active { border-top: 4px solid #6d1b4c; }
	.nav li > a { padding: 38px 20px; }
	.nav > li > a:hover,
	.nav > li > a:focus { background-color: transparent; }
	footer .col-md-3 {
		width: 25%;
		float: left;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.item {
		width: 100%;
		margin-left: 0;
	}
	.item .col-md-3 { margin-top: 160px; }
}