/* ==========================================================================
   Custom styles: Lisa Thier
   ========================================================================== */

/* IMPORT FONT */
@font-face {
	font-family: 'ETH-Black';
	src:  url('../fonts/ETH-Black.ttf.woff') format('woff'),
		  url('../fonts/ETH-Black.ttf.svg#ETH-Black') format('svg'),
		  url('../fonts/ETH-Black.ttf.eot'),
		  url('../fonts/ETH-Black.eot?#iefix') format('embedded-opentype'); 
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'dejavu_sanscondensed_bold';
	src: url('../fonts/DejaVuSansCondensed-Bold-webfont.eot');
    src: url('../fonts/DejaVuSansCondensed-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DejaVuSansCondensed-Bold-webfont.woff') format('woff'),
         url('../fonts/DejaVuSansCondensed-Bold-webfont.ttf') format('truetype'),
         url('../fonts/DejaVuSansCondensed-Bold-webfont.svg#dejavu_sanscondensed_bold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'dejavu_sanscondensed';
    src: url('../fonts/DejaVuSansCondensed-webfont.eot');
    src: url('../fonts/DejaVuSansCondensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DejaVuSansCondensed-webfont.woff') format('woff'),
         url('../fonts/DejaVuSansCondensed-webfont.ttf') format('truetype'),
         url('../fonts/DejaVuSansCondensed-webfont.svg#dejavu_sanscondensed') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* BASE */
body { font-family: 'dejavu_sanscondensed'; }
h1 {
	width: 84px;
	height: 60px;
	margin: 10px 0 0 10px;
	padding: 0;
	text-indent: -99999px;
	background-size: 100% auto;
	background-image: url('../img/logo.png');
	background-repeat: no-repeat;
}
h1 a {
	width: 84px;
	height: 60px !important;
	padding: 0 !important;
	display: block;
	margin-left: 0 !important;
}
h2, h3, h4 {
	font-family: 'dejavu_sanscondensed_bold';
	margin-top: 0;
}
h2 {
	font-size: 36px;
	padding: 10px 0 15px 0;
	margin: 0;
}
strong {
	font-size: 16px;
	line-height: 32px;
}
header {
	border: 0;
	background-image: none;
	background-color: rgba(255,255,255,0.5);
	-webkit-box-shadow: 0 0 6px 0 rgba(0,0,0,0.2);
	box-shadow: 		0 0 6px 0 rgba(0,0,0,0.2);
}

/* BASE */
.img-responsive { display: inline-block; }
.content { padding-bottom: 40px; }

/* BUTTON */
.btn-default {
	color: #fff;
	text-shadow: none;
	background-image: -webkit-linear-gradient(top,#975d80 0,#6d1b4c 100%);
	background-image: -o-linear-gradient(top,#975d80 0,#6d1b4c 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#975d80),to(#6d1b4c));
	background-image: linear-gradient(to bottom,#975d80 0,#6d1b4c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#975d80', endColorstr='#6d1b4c', GradientType=0);
	background-repeat: repeat-x;
	border-color: #6d1b4c;
	-webkit-box-shadow: 0;
	box-shadow: 0;
}
.btn-default:hover,
.btn-default:focus { background-color: #6d1b4c }
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default { 
	color: #fff;
	background-color: #6d1b4c;
	border-color: #975d80;
}
section:nth-child(even) .btn-default {
	background-image: -webkit-linear-gradient(top,#596579 0,#152642 100%);
	background-image: -o-linear-gradient(top,#596579 0,#152642 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#596579),to(#152642));
	background-image: linear-gradient(to bottom,#596579 0,#152642 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#596579', endColorstr='#152642', GradientType=0);
	border-color: #152642;
}
section:nth-child(even) .btn-default:hover,
section:nth-child(even) .btn-default:focus { background-color: #152642 }
section:nth-child(even) .btn-default:hover,
section:nth-child(even) .btn-default:focus,
section:nth-child(even) .btn-default.focus,
section:nth-child(even) .btn-default:active,
section:nth-child(even) .btn-default.active,
section:nth-child(even) .open > .dropdown-toggle.btn-default { 
	background-color: #152642;
	border-color: #596579;
}

/* NAV */
.navbar-static-top { border-width: 0; }
.navbar { margin-bottom: 0; }
.navbar-nav { margin: 0 -15px; }
.nav li { font-size: 16px; }
.nav li > a {
	padding: 20px 10px;
	color: #000;
}
.nav > li.active > a { background-color: #eee; }
.navbar-toggle {
	padding: 15px;
	margin: 10px 15px 0 0;
}
.navbar-toggle .icon-bar { background-color: #000; }

/* SECTIONS */
section p {
	color: #414141;
	font-size: 14px;
	line-height: 18px;
}
section .col-sm-4 {
	margin-bottom: 20px;
	text-align: center;
}
section .col-sm-4 p {
	font-size: 16px;
	font-weight: bold;
	line-height: 20px;
}
section .col-sm-4 img {
	width: 100%;
	height: auto;
	max-width: 240px;
	margin-bottom: 20px;
}
section:nth-child(even) { background-color: #e6e6e6; }
section:nth-child(even) .col-sm-6:first-child { text-align: center; }
section:nth-child(even) .col-sm-6:last-child,
section:nth-child(odd) .col-sm-6:first-child { margin: 20px 0; }
.ueber-uns .col-sm-6:first-child { margin-top: 0 !important; }
section:nth-child(even) h2 { color: #152642; padding: 0 0 15px 0; }
section:nth-child(odd) h2 { color: #6d1b4c; padding: 0 0 15px 0; }

/* JUMBOTRON */
.jumbotron {
	background-color: transparent;
	background-image: url('../img/concrete_wall_2.png');
}
.jumbotron p {
	font-size: 20px;
	line-height: 26px;
	font-family: 'dejavu_sanscondensed';
}

/* TABLE */
table th,
table td { width: 100%; }
table p {
	padding: 8px;
	margin-bottom: 0;
}
.kurse thead,
.kurse td { display: none; }
.kurse td[data-label] {
	display: block;
	position: relative;
	padding: 30px 0 8px 0;
}
.kurse td:before {
	content: attr(data-label);
	font-weight: bold;
	position: absolute;
	top: 5px;
	left: 8px;
}
.kurse th:nth-of-type(6),
.kurse td:nth-of-type(6) { display: none; }

/* CAROUSEL */
.item {
	width: 80%;
	margin-left: 10%;
	text-align: center;
}
.item .col-md-6 { margin-top: 0 !important; }
.item h3 { font-size: 30px; }
.carousel-control {
	width: 5%;
	font-size: 24px;
}
.carousel-control.left,
.carousel-control.right {
	background-image: none;
	filter: none;
}
.carousel-control .glyphicon { color: #152642; }

/* 3-SPALTEN */
.three-columns .row { margin-bottom: 30px; }
.three-columns .col-md-4 { text-align: center; }
.three-columns .col-md-4 img {
	width: 195px;
	margin-bottom: 30px;
}
.three-columns p { font-family: 'dejavu_sanscondensed'; }
/*.three-columns .col-md-4 p { text-align: left; }*/

/* UEBER UNS */
.col-md-1 img {
	width: 100%;
}

/* FOOTER */
footer { color: #fff; }
footer section { padding: 20px 0; }
footer section:nth-child(odd) { display: none; }
footer section:nth-child(even) { background-color: rgba(109,27,76,0.7); }
footer section:nth-child(even) p {
	color: #fff;
	margin: 0;
	font-size: 12px;
}
footer ul {
	list-style: none;
	padding: 0;
}
footer a {
	color: #fff;
	text-decoration: none;
}
footer a:hover,
footer a:focus {
	color: #fff;
	text-decoration: underline;
}
.footer-contact li {
	padding-left: 20px;
	position: relative;
}
.footer-contact li:before {
	font-size: 10px;
	position: absolute;
	top: 4px;
	left: 2px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;	
}
.footer-contact .home:before { content: "\e021"; }
.footer-contact .earphone:before { content: "\e182"; }
.footer-contact .envelope:before { content: "\2709"; }
.footer-contact .link:before { content: "\e144"; }

/* MEDIA QUERIES */
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	h1 {
		width: 126px;
		height: 90px;
		margin: 10px 0 0 0;
	}
	h1 a {
		width: 126px;
		height: 90px !important;
	}
	.nav li {
		font-size: 24px;
		border-top: 4px solid #fff;
		-webkit-transition: color,border-top 0.3s ease-out;
		-moz-transition: color,border-top 0.3s ease-out;
		-o-transition: color,border-top 0.3s ease-out;
		transition: color,border-top 0.3s ease-out;
	}
	.nav li:hover,
	.nav li.active { border-top: 4px solid #6d1b4c; }
	.nav li > a { padding: 38px 20px; }
	.nav > li > a:hover,
	.nav > li > a:focus { background-color: transparent; }
	.content .row { margin-bottom: 20px; }
	section:nth-child(even) .col-sm-6:last-child,
	section:nth-child(odd) .col-sm-6:first-child { margin-top: 50px; }
	section:nth-child(odd) .content .col-sm-6:first-child { margin-top: 0; }
	.wegbeschreibung { margin-top: 110px; }
	.wegbeschreibung .col-sm-6:first-child { margin-top: -80px !important; }
	footer .col-md-3 {
		width: 25%;
		float: left;
	}
	.kurse td:before { content: ' '; }
	.kurse thead,
	.kurse tr {
		display: table;
		width: 100%;
	}
	.kurse th,
	.kurse td {
		font-size: 16px;
		display: inherit;
		float: left;
		width: 16.66666666666667%;
		border-right: 1px solid #ddd;
	}
	.kurse td[data-label] {
		padding: 0;
		font-size: 14px;
	}
	.kurse th:last-child,
	.kurse td:last-child { border-right: 0; }
	.kurse td {
		height: 68px;
		display: block;
	}
	.kurse th { padding-left: 10px; }
	footer section:nth-child(odd) {
		display: block;
		font-size: 14px;
		border-top: 1px solid #152642;
		background-color: rgba(21,38,66,0.7);
	}
	footer section:nth-child(even) {
		-webkit-box-shadow: 0 0 8px 2px rgba(151,93,128,0.8);
		box-shadow: 		0 0 8px 2px rgba(151,93,128,0.8);
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.item {
		width: 100%;
		margin-left: 0;
	}
	.item .col-md-3 { margin-top: 120px; }
	.wegbeschreibung { margin-top: 80px; }
	.wegbeschreibung .col-sm-6:first-child { margin-top: -30px !important; }
	.kurse th:nth-of-type(6),
	.kurse td:nth-of-type(6) { display: inherit; }
	.kurse th,
	.kurse td { width: 12.5%; }
}
